{% extends 'base.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
	<h1>Livre :</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ livre.id }}</td>
			</tr>
			<tr>
				<th>ISBN</th>
				<td>{{ livre.isbn }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ livre.titre }}</td>
			</tr>
			<tr>
				<th>Nombre de Pages</th>
				<td>{{ livre.nombrePages }}</td>
			</tr>
			<tr>
				<th>Date de Parution</th>
				<td>{{ livre.dateDeParution ? livre.dateDeParution|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Note</th>
				<td>{{ livre.note }}</td>
			</tr>
			<tr>
				<th>Genres</th>
				<td>
					{% for genre in livre.genres %}
						<p>{{ genre }}</p>
					{% endfor %}
				</td>
			</tr>
			<tr>
				<th>Auteurs</th>
				<td>
					{% for auteur in livre.auteurs %}
						<p>{{ auteur }}</p>
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>

	

	<div class="row">
		{% if is_granted('ROLE_ADMIN') %}
		<div class="col-1">    
			<a class="p-2 text-success fs-1" href="{{ path('livre_edit', {'id': livre.id}) }}" title="Modifier"><i class="bi bi-pencil-square"></i></a>
		</div>
		<div class="col-1">
			<form method="post" action="{{ path('livre_delete', {'id': livre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">
				<button style="background:none;border:none" title="Supprimer"><i class="bi bi-trash-fill text-danger fs-1"></i></button>
			</form>
		</div>
		{% endif %}
	</div>
{% endblock %}
